.codeDisplay {
  padding: 10px;
  .hide {
    display: none;
  }
  summary {
    cursor: pointer;
  }
  &[open] {
    .show {
      display: none;
    }
    .hide {
      display: inline;
    }
  }
  .tabs {
    text-wrap: nowrap;
    overflow: auto;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    button {
      all: unset;
      cursor: pointer;
      padding: 10px 20px;
      &.active {
        background: #2465;
      }
      &:hover {
        background: #2495;
      }
    }
  }
}

.codeContainer {
  position: relative;
}

.copy {
  all: unset;
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.9);
  }
}

.demo {
  width: var(--max-width);
  max-width: 95vw;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 8px -2px var(--text-color);
  text-align: center;
  padding-bottom: 25px;
  .btn {
    cursor: pointer;
    padding: 10px 30px;
  }
  details {
    text-align: left;
    padding: 5px 30px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.code {
  font-family: var(--font-mono);
  height: calc(100vh - 60px);
  min-height: 350px;
  overflow: auto;
}
